---
import HeaderLink from '@components/HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="mb-2">
    <h2 class="my-2">
        {SITE_TITLE}
    </h2>
    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://twitter.com/jpaddeo" target="_blank"
            >Twitter</HeaderLink
        >
        <HeaderLink href="https://github.com/jpaddeo" target="_blank"
            >GitHub</HeaderLink
        >
    </nav>
</header>
